:root {
    --main-font-family: "Poppins", sans-serif;
    --main-yellow-color: #FFCE08;
    --section-title: 40px;
    --section-subtitle: 54px;
    --section-desc: 16px;
    --button-width: 178px;
    --button-height: 50px;
    --font-color-main: #707070;
    --font-color-sub: #191919;
    --active-color: #D5B326;

}


html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    direction: ltr;
    font-family: var(--main-font-family);
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
}

.navbar {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #D8D8D82E;
    opacity: 1;
}

.navbar-brand {
    font-weight: normal;
    font-size: 30px !important;
    letter-spacing: 0px;
    color: var(--font-color-main);
    opacity: 1;
}

.navbar-nav li {

    margin-right: 39px;
}

.navbar-nav li a {
    font: normal normal medium 18px "Poppins" !important;
    font-size: 18px;
    letter-spacing: 0px;
    color: var(--font-color-sub);
    opacity: 1;
}

.navbar-nav li a:hover {
    color: var(--active-color);
}

.get-quote {
    top: 15px;
    left: 1662px;
    width: 178px;
    height: 50px;
    background: #FFCE08 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 24px #19191929;
    opacity: 1;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.22px;
    color: var(--font-color-sub);
    text-transform: uppercase;
    border: none;
}

.first_title {
    font-weight: normal;
    font-family: "Lora";
    font-size: 40px;
    letter-spacing: 0px;
    color: var(--font-color-sub);
}

.second_title {
    font-weight: bold;
    font-family: "Lora";
    font-size: 52px;
    letter-spacing: 0px;
    color: var(--font-color-sub);
}

.text {
    text-align: left;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0px;
    color: var(--font-color-sub);

}


.main-div {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 1%;
}

.left-div,
.right-div {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left-div {
    background-image: url(../images/sec1bg2.png);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 43%;
    height: 100%;
}

.right-div {
    background-image: url(../images/sec1bg1.png);
    z-index: 1;
    margin-left: 37%;
    /* width: 50%; */
    height: 92%;
    margin-top: 6%;
}

.right-div-box {
    padding: 15%;
}

.serve-sec {
    width: 202%;
    margin-top: 30%;
    background-image: url(../images/service_sec.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-service-div {
    background: #D8D8D81A 0% 0% no-repeat padding-box;
    border-radius: 16px;
    text-align: center;
    padding: 50px 30px 25px 30px;

}

.service_img {
    width: 80px;
    height: 80px;
}

.service_title {
    font-family: "Lora";
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0px;
    color: var(--font-color-sub);
}

.serv-text {
    width: 50%;
    text-align: left;
    font: italic normal normal 16px/25px "Poppins";
    letter-spacing: 0px;
    color: var(--font-color-sub);

}

.service_text {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    color: var(--font-color-sub);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.arrow {
    background: #FFCE08 0% 0% no-repeat padding-box;
    border-radius: 4px;
    width: 48px;
    margin: auto;
}

.expertise-sec {
    margin-top: 80px;
}

.main-Exp-div {
    position: relative;
    width: 600px;
    height: 400px;
}

.main-div-Exp {
    width: 100%;
    position: relative;
    justify-content: flex-end;
}

.right-Exp-div,
.left-Exp-div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.right-Exp-div {
    max-width: 50%;
    height: 700px;
    background-image: url(../images/areabg.png);
    right: 0;
    z-index: 1;
    width: 100%;
    background-size: cover;
    background-position: right;
}

.left-Exp-div {
    left: 0;
    max-width: 54%;
    width: 100%;
    height: 625px;
    z-index: 2;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    padding: 55px 100px;
    position: absolute;
    top: 75px;
}

.expertise-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    gap: 50px;
    margin-top: 10%;
}

.item {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 0%;
    min-width: 253px;
    align-items: start;
}

.image {
    padding: 20px;
    background: #D5B326 0% 0% no-repeat padding-box;
}


.text-exp {
    flex: 1;
    text-align: right;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 50px;
    height: 50px;
}


.contact-bg {
    background-image: url('../images/contactbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 545px;
    position: relative;
}

.contact-form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 32px #D8D8D861;
    border-radius: 30px;
    padding: 50px 30px 0px 30px;
    position: absolute;
    top: 100px;
    width: 40% ;
    right: 10%;
}

.contact-form form {
    padding: 30px 20px;
}

.contact-form form input {
    margin-bottom: 20px;
}

.contact_title {
    font: normal normal normal 32px/25px Poppins;
    letter-spacing: 0px;
    color: var(--font-color-sub);
}

.contact-item {
    font-size: 18px;
    letter-spacing: 0px;
    color: var(--font-color-sub);
    opacity: 1;
}

.news-sec {
    margin-top: 20%;
    text-align: center;
}

.news_text {
    overflow: hidden;
    max-height: 54px;
    font: normal normal normal 14px/25px Poppins;
    letter-spacing: 0px;
    color: var(--font-color-sub);
}

.news-title {
    font: normal normal medium 24px/35px Poppins;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0px;
    color: var(--font-color-sub);
}

.main-news-div {
    position: relative;
}

.main-news-div img {
    border-radius: 16px
}

.news-arrow {
    background: #FFCE08 0% 0% no-repeat padding-box;
    border-radius: 4px;
    width: 30px;
    height: 32px;
    position: absolute;
    bottom: 22%;
    left: 48%;
}

.branch-item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.branch-item img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.branch-info {
    display: flex;
    flex-direction: column;
}

.branch-name {
    font: normal normal medium 24px/31px Lora;
    letter-spacing: 0px;
    color: var(--font-color-sub);
    text-transform: capitalize;
}

.branch-text {
    width: 62%;
    /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: italic normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: var(--font-color-sub);
    opacity: 0.6;
}

footer {
    background-color: #4A4A4AF2!important;

    font: normal normal normal 30px/46px Poppins;
}

.footer-logo {
    font: normal normal normal 30px/46px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.footer-title {
    font: normal normal bold 24px/31px "Lora";
    text-transform: capitalize;
}

.footer-list {
    font: normal normal 300 18px/27px "Poppins";
    opacity: 0.8;
    text-decoration: none;
}

.footer-text {
    font: normal normal normal 16px/25px Poppins;
    opacity: 0.8;
}

.copyright {
    text-align: center;
    font: normal normal 300 16px/27px Poppins;
    opacity: 1;
}

.border-top {
    border-top: #ffffff solid 1px;
}

.footer-btn {
    background: #D5B326 0% 0% no-repeat padding-box;
    border: 2px solid #D5B326;
    opacity: 1;
    width: 20%;
}
.footer-input{
    border: 2px solid #D5B326!important;
    color: #FFFFFF!important;
    background-color: #4A4A4AF2!important;
}

@media (max-width: 992px) {
    body {
        overflow-x: hidden;
    }
    
    .container,
    .container-fluid {
        max-width: 100%;
    }
    
    .navbar-nav li {
        margin-right: 10px;
    }

    .get-quote {
        width: 150px;
        height: 45px;
        font-size: 16px;
    }
    .first_title {
        font-size: 32px;
    }

    .second_title {
        font-size: 40px;
    }

    .text {
        font-size: 14px;
    }

    .main-div {
        flex-direction: row;
    }

    .left-div {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .right-div {
        position: relative;
        margin-left: 0;
        height: auto;
        margin-top: 0;
    }

    .right-div-box {
        padding: 10%;
    }
    .first_title {
        font-size: 28px;
    }

 

    .text {
        font-size: 14px;
    }

    .right-div-box {
        padding: 5%;
    }
    .serv-text {
        font-size: 14px;
    }

    .serve-sec {
        margin-top: 20%;
        width: 100%;
    }

    .main-service-div {
        padding: 40px 20px 20px 20px;
    }
    .left-Exp-div {
        padding: 40px 30px;
        max-width: 100%;
        position: unset;
    }

    .second_title {
        font-size: 40px;
    }

    .text {
        font-size: 14px;
    }

    .right-Exp-div {
        display: none;
    }

    .expertise-div {
        gap: 20px;
    }

    .item {
        max-width: 100%;
    }
    .news-arrow {
            bottom: 37%;
            left: 45%;
        }
        .location iframe{
            width: 100%!important;
        }
    
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .container,
    .container-fluid {
        max-width: 100%;
    }
    
    .navbar-brand {
        font-size: 25px !important;
    }

    .navbar-nav li a {
        font-size: 16px;
    }

    .get-quote {
        width: 130px;
        height: 40px;
        font-size: 14px;
    }
    .serv-text {
        font-size: 14px;
    }

    .main-service-div {
        padding: 30px 15px 15px 15px;
    }

    .service_title {
        font-size: 20px;
    }

    .service_text {
        font-size: 14px;
    }

    .arrow img {
        width: 25px;
        height: 25px;
    }
    .left-Exp-div {
        padding: 30px 20px;
        max-width: 100%;
        position: unset;
    }

  
    .text {
        font-size: 12px;
    }

    .right-Exp-div {
        display: none;
    }

    .expertise-div {
        flex-direction: column;
        gap: 20px;
    }

    .item {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .text-exp {
        text-align: center;
        padding-right: 0;
    }
    .contact-bg {
        padding: 20px 0;
        position:unset;
        height: 100%;
        margin-bottom: 20px;
    }

    .contact-form {
        padding: 20px;
        position:unset;
        width: 100%;
    }

    .contact_title {
        font-size: 28px;
    }

    .second_title {
        font-size: 28px;
    }

    .text {
        font-size: 14px;
    }

    .branch-item img {
        width: 24px;
        height: 24px;
    }

    .branch-info .contact-item {
        font-size: 16px;
    }
    .news-arrow {
        bottom: 37%;
        left: 45%;
    }
}

@media (max-width: 576px) {
    body {
        overflow-x: hidden;
    }
    
    .container,
    .container-fluid {
        max-width: 100%;
    }
    
    .first_title {
        font-size: 24px;
    }

    .second_title {
        font-size: 32px;
    }

    .text {
        font-size: 12px;
    }

    .right-div-box {
        padding: 3%;
    }
    .serv-text {
        font-size: 12px;
    }

    .main-service-div {
        padding: 20px 10px 10px 10px;
    }

    .service_title {
        font-size: 18px;
    }

    .service_text {
        font-size: 12px;
    }

    .arrow img {
        width: 20px;
        height: 20px;
    }
    .left-Exp-div {
        padding: 20px 10px;
        max-width: 100%;
        position: unset;
    }

    .text {
        font-size: 10px;
    }

    .right-Exp-div {
        display: none;
    }

    .expertise-div {
        flex-direction: column;
        gap: 15px;
    }

    .item {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .text-exp {
        text-align: center;
        padding-right: 0;
    }
    .second_title {
        font-size: 24px;
    }

    .text {
        font-size: 12px;
    }

    .contact-form {
        padding: 15px;
         position:unset;
        width: 100%;
    }

    .contact-form form input,
    .contact-form form textarea {
        margin-bottom: 15px;
    }

    .contact_title {
        font-size: 24px;
    }

    .branch-info .contact-item {
        font-size: 14px;
    }

    .branch-item img {
        width: 20px;
        height: 20px;
    }
    .news-arrow {
        bottom: 37%;
        left: 45%;
    }
}